# disk - path to destination disk
DISK="/dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi0"
# pool - ZFS root pool
POOL="rpool"
# hostname - hostname for installation
HOSTNAME="myhostname"
# timezone - which time base should be used
TIMEZONE="America/Chicago"
# locale - display format for date, time, numbers, etc.
LOCALE="en_US.UTF-8"
# keymap - preferred keyboard layout
KEYMAP="us"
# console font - boot up font (see https://wiki.archlinux.org/title/Linux_console)
CONSOLE_FONT="lat2-16"
# user name - creates sudo user besides root
USER_NAME="sandreas"
# user pass - password for this user, you can either specify plaintext or just change it after installation
USER_PASS="password"